<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
	<div class="myimage">    
       <img src="images/myimage.png" class="img-circle" alt="Cinque Terre" width="100px" height="120px"> 
      </div>
      <div class="introText">
         <p>Hello & Welcome to my WebSite.<br>" Thank you for stopping by.I' am Sahash, and i 'am here to Help you..."</p>
      </div>
      <div class= "social">
        <ul>
           <a href="https://www.facebook.com/blackn.white.775"><img src="images/facebook.png" ></a>
           <a href="https://twitter.com/sahash4"><img src="images/twitter.png" href="https://twitter.com/sahash4"></a>
           <a href="https://instagram.com/sahash182/"> <img src="images/instagram.png"></a>
           <a href="https://github.com/sahash182"><img src="images/share.png"></a>

        </ul>
      </div>
