<div>
	<h1>This is one post.</h1>


	<div>
		 <img src='<%= @post.image %>' width="200px"/><br>
	
		<strong>Title:</strong> <%= @post.title %> <br>

		<strong>Description:</strong> <%= @post.description %> <br>
	</div> <br>

</div>